server:
  port: 8080
  servlet:
    contextPath: /api
spring:
  profiles:
    default: local # 기본 환경을 local로
  web:
    resources:
      add-mappings: false
  jpa:
    database-platform: org.hibernate.dialect.MySQL57Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true
#  sql:
#    init:
#      mode: always
  datasource:
    initialization-mode: always
  data:
    web:
      pageable:
        one-indexed-parameters: true

  mvc:
    throw-exception-if-no-handler-found: true
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 500KB
      max-request-size: 215MB
jwt:
  secret: dyAeHubOOc8KaOfYB6XEQoEj1QzRlVgtjNL8PYs1A1tymZvvqkcEU7L1imkKHeDa
  expiration: 1296000000  # unit is ms. 15 * 24 * 60 * 60 * 1000 = 15days
